{% extends "::layout_appbundle.html.twig" %}

{% block stylesheet %}
    {{parent()}}
    <style>.site_header h1::before, .site_header h1::after{
            width:16% !important;
        }</style>
    {% endblock %}

{% block contenu %}
    <div class="upbtnwrapp"><div class="upbtn"><span class="icon-up-open-big"></span></div></div>

    <nav class="site_nav" id="site_nav">
        <div class="container">

            <ul class="nav navbar-nav navbar-right">

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('cv_admin_index') }}">Admin</a></li>
                    {% endif %}
                    <li><a href="{{ path('fos_user_profile_edit') }}">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}  </a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a> </li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a> </li>
                {% endif %}


            </ul>
        </div>
    </nav>

    <!-- NAVIGATION -->
    <nav class="site_nav" id="site_nav">
        <ul class="">
            <li><a href="#about_me">&Agrave propos</a></li>
            <li><a href="#my_expertise">Compétences</a></li>
            <li><a href="#experience">Expériences</a></li>
            <li><a href="#education">Formations</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav> <!-- /site_nav -->
    <div id="aftermenuspace"></div>
    <!-- HEADER -->
    <header class="site_header centerise borderbtn">
        <div id="logoline"><h1>{{ personne.prenom }} {{ personne.nom }}</h1></div>
        <h2>{{personne.metier}}</h2>
    </header> <!-- /site_header -->
    <!-- end HEADER -->
    <div class="container-fluid page">

        <!-- ABOUT ME -->
        <section class="row about_me" id="about_me">
            <aside class="col-sm-3 aside_el">
                <h2>&Agrave; propos</h2>
                <h5>Profil professionnel<br /> et informations personnelles</h5>
            </aside>
            <article class="col-sm-6 borderleft par_el">
                <span class="circle"><img style="float:left" src="{{asset('img/mypic.jpg')}}" alt=""/></span>
                <p>{{personne.presentation|raw}}</p>

            </article>
            <div class="col-sm-3 cont_info-1">
                <div class="soc">
                    <ul>
                        {% if personne.facebook is not null %}
                            <li><a href="{{personne.facebook}}"><img src="{{asset('img/icons/facebook.png')}}" alt="" /></a></li>
                        {% endif %}
                        {% if personne.twitter is not null %}
                            <li><a href="{{personne.twitter}}"><img src="{{asset('img/icons/twitter.png')}}" alt="" /></a></li>
                        {%endif%}
                        {% if personne.linkedin is not null %}
                            <li><a href="{{personne.linkedin}}"><img src="{{asset('img/icons/linkedin.png')}}" alt="" /></a></li>
                        {%endif%}
                        {% if personne.viadeo is not null %}
                            <li><a href="{{personne.viadeo}}"><img src="{{asset('img/icons/Viadeo.png')}}" alt="" /></a></li>
                        {%endif%}

                    </ul>
                </div>
                <div class="info">
                    <ul>
                        {% if personne.telephone is not null %}<li><span class="icon-mobile pull-left"></span><a>{{personne.telephone}}</a></li>{%endif%}
                        <li><span class="icon-location pull-left"></span><a>{{personne.adresse}}, {{personne.cp}} {{personne.ville}}</a></li>
                        <li><span class="icon-mail pull-left"></span><a>{{personne.email}}</a></li>
                    </ul>
                </div>
            </div> <!-- /cont_info -->
        </section> <!-- /about_me -->
        <!-- end ABOUT ME -->

        <!-- MY EXPERTISE -->
        <section class="row my_expertise" id="my_expertise">
            <aside class="col-sm-3 aside_el">
                <h2>Compétences</h2>
                <h5>Mes Compétences<br /> dont je suis fier</h5>
            </aside>

            <div class="col-sm-9  borderleft par_el skill_level">


                {%for skill in personne.skills%}
                    <h4>{{skill.nom}}</h4>
                    <div class="progressbar percent_{{ skill.niveauPersonne * 10 }}">
                        <div class="progressbar-inner"></div>
                    </div>
                {% endfor %}


            </div> <!-- /skill_level -->
        </section> <!-- /my_expertise -->
        <!-- end MY EXPERTISE -->

        <!-- EXPERIENCE -->
        <section class="row experience" id="experience">
            <aside class="col-sm-3 aside_el">
                <h2>Expériences</h2>
                <h5>Où j'ai travaillé</h5>
            </aside>
            <div class="col-sm-9 borderleft">
                <div class="row">
                {% for experience in personne.experiences %}

                        <article class="col-sm-12   par_el in_spacing" style="margin-bottom:20px">
                            <span class="period">
                                {% if experience.dateDepart == experience.dateFin %}
                                    {{ experience.dateDepart|dateIntl('fr_FR','Y') }}
                                {% else %}
                                    {{ experience.dateDepart|dateIntl('fr_FR','MMM Y') }} - {{ experience.dateFin|dateIntl('fr_FR','MMM Y') }}
                                {% endif %}
                            </span>
                            <div class="bigspacing">
                                <header>
                                    <h2>{{ experience.entreprise }}</h2>
                                    <h3>{{ experience.poste }}</h3>
                                </header>
                                <p>{{ experience.contenu }}</p>
                                <p>
                                    {% for skill in experience.skills %}
                                    <span class="label label-default">{{ skill.nom }}</span>
                                        {#{% if not loop.last %} /{% endif %}#}
                                    {% endfor %}
                                </p>
                            </div>
                        </article>

                {% endfor %}
                </div>


            </div>
        </section> <!-- /experience -->
        <!-- end EXPERIENCE -->

        <!-- EDUCATION -->
        <section class="row education" id="education">
            <aside class="col-sm-3 aside_el">
                <h2>Formations</h2>
                <h5>Mes études</h5>
            </aside>
            <div class="col-sm-9">

                {% for formation in personne.formations %}
                    <div class="row">
                        <article class="col-sm-12  borderleft par_el in_spacing">
                            <span class="period">
                                {% if formation.dateDepart == formation.dateFin %}
                                    {{ formation.dateDepart|dateIntl('fr_FR','Y') }}
                                {% else %}
                                    {{ formation.dateDepart|dateIntl('fr_FR','MMM Y') }} - {{ formation.dateFin|dateIntl('fr_FR','MMM Y') }}
                                {% endif %}
                            </span>
                            <div class="bigspacing">
                                <header>
                                    <h2>{{ formation.diplome }}</h2>
                                    <h3>{{ formation.ecole }}</h3>
                                </header>
                                <p>{{ formation.contenu }}</p>
                                <p>
                                    {% for skill in formation.skills %}
                                        <span class="label label-default">{{ skill.nom }}</span>
                                        {#{% if not loop.last %} /{% endif %}#}
                                    {% endfor %}
                                </p>
                            </div>
                        </article>
                    </div>
                {% endfor %}


            </div>
        </section> <!-- /education -->
        <!-- end EDUCATION -->



    </div> <!-- /page -->
    <footer class="row siteFooter">
        <div id="contact">
            <aside class="col-sm-3 aside_el">
                <h2>Contact</h2>
            </aside>
            <div class="col-sm-9 borderleft">
                <form class="comment_form" data-validate="parsley">
                    <fieldset>
                        <input type="text" id="form_name" data-required="true" data-trigger="focusin focusout" placeholder="Name">
                        <input type="text" id="form_email" data-required="true" data-trigger="focusin focusout" data-type="email" placeholder="Email Address">
                        <textarea rows="8" id="form_message" data-required="true" data-trigger="focusin focusout" placeholder="Message"></textarea>
                        <div class="send-button pull-right"> <a>SEND THE MESSAGE </a> </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <div>
            @VB  {{ "now"|date("Y") }}
        </div>
    </footer>

{% endblock %}

































{% block script %}
    {{ parent()}}
    <script src="{{asset('js/parsley.min.js')}}"></script>
    <script src="{{asset('js/lightbox.js')}}"></script>
    <script src="{{asset('js/retina.js')}}"></script>
    <script>
        $(document).ready(function () {
            $('.comment_form input, .comment_form textarea').focus(function () {
                $(this).css({"-webkit-box-shadow": "0px 0px 0px rgba(0, 0, 0, 0)", "-moz-box-shadow": "0px 0px 0px rgba(0, 0, 0, 0)", "box-shadow": "0px 0px 0px rgba(0, 0, 0, 0)", "border": "1px solid #999"});
            });
            $('.comment_form input, .comment_form textarea').blur(function () {
                $(this).css({"-webkit-box-shadow": "0px 0px 0px rgba(0, 0, 0, 0)", "-moz-box-shadow": "0px 0px 0px rgba(0, 0, 0, 0)", "box-shadow": "0px 0px 0px rgba(0, 0, 0, 0)", "border": "1px solid #e0e0e0"});
            });



        });

        $(".send-button").click(function () {
            if ($('.comment_form').parsley('validate')) {
                var form_name = $("#form_name").val();
                var form_email = $("#form_email").val();
                var form_message = $("#form_message").val();
                $.post("php/mailer.html", {name: form_name, email: form_email, message: form_message}, function (results) {
                    alert(results);
                });
            }
        });
        $(window).on('load resize', function () {
            current_width = $(window).width();
            if (current_width < 767) {
                $("br").hide();
            } else {
                $("br").show();
            }
        });


        // Cache selectors
        if ($(window).width() > 940) {
            var lastId,
                    topMenu = $("#site_nav")
            topMenuHeight = topMenu.outerHeight() + 40,
                    // All list items
                    menuItems = topMenu.find("a"),
                    // Anchors corresponding to menu items
                    scrollItems = menuItems.map(function () {
                        var item = $($(this).attr("href"));
                        if (item.length) {
                            return item;
                        }
                    });
        } else {
            var lastId,
                    topMenu = $("#site_nav")
            topMenuHeight = topMenu.outerHeight() - 140,
                    // All list items
                    menuItems = topMenu.find("a"),
                    // Anchors corresponding to menu items
                    scrollItems = menuItems.map(function () {
                        var item = $($(this).attr("href"));
                        if (item.length) {
                            return item;
                        }
                    });

        }


        // Bind click handler to menu items
        // so we can get a fancy scroll animation
        menuItems.click(function (e) {
            var href = $(this).attr("href"),
                    offsetTop = href === "#" ? 0 : $(href).offset().top - topMenuHeight + 1;
            $('html, body').stop().animate({
                scrollTop: offsetTop
            }, 300);
            e.preventDefault();
        });

        // Bind to scroll
        $(window).scroll(function () {
            // Get container scroll position
            var fromTop = $(this).scrollTop() + topMenuHeight;

            // Get id of current scroll item
            var cur = scrollItems.map(function () {
                if ($(this).offset().top < fromTop)
                    return this;
            });
            // Get the id of the current element
            cur = cur[cur.length - 1];
            var id = cur && cur.length ? cur[0].id : "";

            if (lastId !== id) {
                lastId = id;
                // Set/remove active class
                menuItems
                        .parent().removeClass("active")
                        .end().filter("[href=#" + id + "]").parent().addClass("active");
            }
        });// $('.scrollup').fadeIn();

        $(window).scroll(function () {
            var pos = $(window).scrollTop();
            if (pos > 55 && current_width > 940) {
                $(".site_nav").css({
                    "position": "fixed",
                    "top": "0",
                    "width": "940px",
                    "margin-bottom": "55px",
                });
                $("#aftermenuspace").css({
                    "height": "55px",
                });
            } else {
                $(".site_nav").css({
                    "position": "relative",
                    "margin-bottom": "0",
                    "width": "100%",
                });
                $("#aftermenuspace").css({
                    "height": "0",
                });
            }
            if (pos > 600) {
                $('.upbtn').fadeIn();
            } else {
                $('.upbtn').fadeOut();
            }
        });

        $('.upbtn').click(function () {
            $("html, body").animate({scrollTop: 0}, 600);
            return false;
        });
    </script>
{% endblock %}






